.chat-window {
  height: 450px;
  overflow: scroll;
  background-color: #e9f0f0;
  padding: 10px;
}

.chat-bubble {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.chat-bubble.sent {
  background-color: #888888;
  color: white;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.chat-bubble.received {
  background-color: #ffffff;
  align-self: flex-start;
  margin-right: auto;
  margin-left: 10px;
}

.chat-bubble:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.user-list {
  height: 570px;
  overflow: scroll;
}

.user-div {
  cursor: pointer;
}

.user-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
